/* Layout
=============== */

.content {
	margin-left: 250px;
	min-height: 100%;
	&::after {
		content: "";
		display: block;
		height: 80px;
	}
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ol,
	li,
	table {
		margin-left: 1rem;
		max-width: $small;
	}
}

.footer {
	margin-left: 250px;
	padding: 0 1rem;
	height: 80px;
	background: darken($background, 5%);
	text-align: center;
	p {
		line-height: 80px;
	}
}