/* Layout
=============== */

.all-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

.content {
	padding: 2rem 0;
	min-height: 100vh;
	margin-left: 250px;
	background: lighten(#1B2025, 6%);
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	ol,
	li,
	table {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

ul, li, ol, dt, dd, dl {
	color: #ffeea8;
}

strong {
	color: #e06c75;
}