/* Tables
  =============== */

// Table expands to full width of containing element
table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	border: $borders;
}

tbody tr:nth-child(odd) {
	background-color: darken(#242A31, 1%);
}

thead th {
	border: $borders;
}

td {
	border: $borders;
}

th,
td {
	text-align: left;
	padding: .5rem;
}

caption {
	padding: 1rem 0;
	caption-side: bottom;
	color: $caption;
}

// Container for responsive tables
.contain-table {
	overflow-x: auto;
}

@include small-breakpoint {
	.contain-table {
		width: 100%;
	}
}